@page
@model RahAsod.Areas.Admin.Pages.SiteManagement.SliderPhoto.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Pages/Shared/_AdminPanelLayout.cshtml";
}
<div id="page-wrapper">

    <div class="row">
        <div class="page-header">
            <h3>عکس اسلایدر</h3>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            عکس
                        </th>
                        <th>
                            آدرس عکس
                        </th>
                        <th>
                           نمايش داده شود ؟
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.slider)
                    {
                        <tr>
                            <td>
                                <img src="~/img/Slider/@item.picName" class="img-responsive img-thumbnail" style="width:100px;height:100px;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.picPath)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.show)
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-page="./Edit" asp-route-id="@item.Id">ویرایش<i class="fa fa-pencil"></i></a> 
                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ExitModal" asp-route-id="@item.Id">حذف <i class="fa fa-trash-o"></i></button>
                                <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <p>
            <a class="btn btn-success" asp-page="Create">افزودن عکس جدید</a>
        </p>
    </div>

</div>

<!--Modal-->
<div class="modal fade" id="ExitModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title">حذف عکس</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>آیا برای حذف اطمینان دارید ؟</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                <form method="post">
                    <button type="submit" class="btn btn-danger">حذف</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--EndModal-->