@page
@model RahAsod.Areas.Admin.Pages.SiteManagement.EmployeeChanges.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Pages/Shared/_AdminPanelLayout.cshtml";
}
<div id="page-wrapper">
    <h1>Details</h1>

    <div>
        <h4>Employee</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.fullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.fullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.position)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.position)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Employee.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

